/* product detail : start*/
.product-detail {
    display: flex;
    gap: 35px;
}

@media (max-width: 900px) {
    .product-detail {
        flex-direction: column;
    }
}
.product-detail__gallery {
    flex: 1.4;
}
.product-detail__big-img {
    border-radius: 20px;
    overflow: hidden;
    aspect-ratio: 5 / 3;
    border: 1px solid var(--border-color);
    touch-action: pan-y;
}

.product-detail__big-img img,
.gallery-carousel__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.gallery-carousel {
    position: relative;
}

.gallery-carousel__viewport {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    touch-action: pan-y;
}
.gallery-carousel__item {
    flex-shrink: 0;
    width: 25%;
    aspect-ratio: 5/3;
    padding: 0 5px;
}
.gallery-carousel__item:first-child {
    transition: all ease 0.6s;
}
.gallery-carousel__img {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 2px solid var(--border-color);
    cursor: pointer;
}

.gallery-carousel__img--active {
    border-color: var(--primary-color);
}

@media (max-width: 600px) {
    .gallery-carousel__item {
        width: 33.3333334%;
    }
}
.gallery-carousel__btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    position: absolute;
    top: 50%;
    background-color: var(--white);
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.12);
}
.gallery-carousel__btn:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
.gallery-carousel__btn--disable {
    color: var(--border-color);
}
.gallery-carousel__btn--disable:hover {
    box-shadow: none;
}
.gallery-carousel__btn--prev {
    left: 0;
    transform: translate(-50%, -50%);
}
.gallery-carousel__btn--next {
    right: 0;
    transform: translate(50%, -50%);
}
.product-detail__info {
    flex: 1;
}
.product__state-bar {
    display: flex;
    align-items: center;
}
.product__evaluate {
    display: flex;
}
.product__stars {
    display: flex;
}
.product__name {
    font-size: 3rem;
    line-height: 35px;
    font-weight: 700;
}

.product__stars {
    font-size: 1.4rem;
}
.product__separate {
    display: block;
    width: 1px;
    height: 16px;
    background-color: var(--border-color);
}
.product__stars {
    color: #f59e0b;
    margin-right: 8px;
}

.product__price--detail {
    font-size: 2.6rem;
}

.quantity {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}
.quantity:has(input:focus) {
    border-color: var(--accent-color);
}
.quantity__btn {
    padding: 10px 20px;
    font-size: 1.8rem;
}
.quantity__input {
    width: 80px;
    height: 100%;
    text-align: center;
}

.product__options {
    display: flex;
    gap: 15px;
}

.product__label span:last-child {
    font-weight: 500;
}
.product__group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product__group--row {
    flex-direction: row;
}
.product__option label {
    cursor: pointer;
}

.product__options input {
    display: none;
}

.product__options--color img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    transition: all ease 0.3s;
}
.product__options--color .product__option:hover img,
.product__options--color input:checked + label img {
    border-color: rgb(105, 104, 104);
    padding: 4px;
}

.product__options--btn label {
    padding: 13px 20px;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    font-weight: 500;
}
.product__options--btn label:hover,
.product__options--btn .product__option:has(input:checked) label {
    border-color: var(--primary-color);
}

.buy-now-btn,
.add-to-cart-btn {
    width: 100%;
    border-radius: 15px;
}

.buy-now-btn {
    border-radius: 15px;
    background-color: var(--primary-color);
    padding: 15px 0;
}
/* product detail : end*/

/* tabs : start*/
.tabs {
    margin: 60px 0;
}
.tabs__nav-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.tabs__nav-item {
    font-weight: 600;
    padding: 8px 0;
    font-size: 2rem;
    color: var(--text-muted);
    line-height: 23px;
    text-align: center;
    cursor: pointer;
}

.tabs__nav-item:hover,
.tabs__nav-item--active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}
.tab {
    display: none;
    margin: 30px 0;
}
.tab--active {
    display: block;
}
.desc-tab {
    line-height: 22px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.desc-tab ul {
    list-style-type: disc;
}
.desc-tab img {
    width: 100%;
}

#toggle-see-more {
    display: none;
}
.summary-btn {
    display: none;
}

.desc-tab:has(#toggle-see-more:checked) .see-more-btn {
    display: none;
}
.desc-tab:has(#toggle-see-more:checked) .summary-btn {
    display: block;
}

.see-more-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}
.desc-tab::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 150px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 17%,
        #fff 93.12%
    );
}
.desc-tab:has(#toggle-see-more:checked)::after {
    display: none;
}
.desc-tab:has(#toggle-see-more:checked) {
    height: auto;
}

/* tabs : end*/
