.footer {
    padding: 50px 0;
    background-color: var(--primary-color);
}
.footer__columns {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.footer__column {
    min-width: 200px;
    flex: 1;
}
.footer__column--big {
    min-width: 300px;
    text-align: center;
}
.footer__logo {
    aspect-ratio: 1/1;
    background-color: var(--white);
    border-radius: 50%;
    overflow: hidden;
    max-width: 400px;
    margin: 0 auto;
}
.footer__logo img {
    width: 85%;
    transition: width ease 0.3s;
}
.footer__logo:hover img {
    width: 100%;
}
.footer__slogan {
    font-style: italic;
    color: var(--secondary-text-color);
    font-weight: 500;
}
.footer__title {
    font-weight: 700;
    font-size: 3.2rem;
    margin-bottom: 15px;
    color: var(--white);
}
.footer__link {
    padding: 16px 0;
    width: 100%;
    border-radius: 2px;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    gap: 14px;
    color: var(--secondary-text-color);
}

.footer__link:hover {
    color: var(--accent-hover);
}

.footer__logos-social-network {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.footer__logos-social-network img {
    width: 40px;
}
.footer__label {
    font-weight: 500;
    font-size: 2.7rem;
    display: block;
    margin: 35px 0;
    text-align: center;
    color: var(--secondary-text-color);
}
.footer__download-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer__download-btns img {
    width: 140px;
    border: 1px solid var(--border-color);
    border-radius: 25px;
}
@media (max-width: 1000px) {
    .footer__column--big {
        flex: 1 0 100%;
    }
}
